Q1.What are data structures, and why are they important

Ans:Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use. Importantance:Choosing the right data structure significantly impacts the efficiency and performance of your program. Well-chosen data structures can Simplify data manipulation(adding, removing, modifying elements) and optimize searching and sorting operations Conserve memory usage

Q2.Explain the difference between mutable and immutable data types with examples

Ans: mutable types (like lists, dictionaries) can be changed after creation, while immutable types (like strings, tuples) cannot be altered once defined, ensuring data integrity and safety.

#EnampleA list is a collection of items that can be changed after it is created. You can add, remove, or modify elements in a list.

first = [1, 2, 3]

Modifying the list
first.append(4) # Adding an element in the List

first[0] = 10 # Changing an element in the List

print(first)

#the output will be [10, 2, 3, 4]

#Example:Any operation that seems to modify the object actually creates a new object.

my_string = "hello" new_string = my_string + " world" # Creates a new string print(my_string)
print(new_string)

#the output will be

# Output: "hello"
# Output: "hello world"
Q3.What are the main differences between lists and tuples in Python

Ans:The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified. Additionally, tuples are more memory-efficient compared to lists.

Q4.Describe how dictionaries store data? Ans:The dictionary stores objects as key-value pairs and can be used to represent complex real-world data. The Python list stores a collection of objects in an ordered sequence. In contrast, the dictionary stores objects in an unordered collection. However, dictionaries allow a program to access any member of the collection using a key which can be a human-readable string.

Q5.Why might you use a set instead of a list in Python?

Ans: One of the main advantages of using sets in Python is that they are highly optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists.

Q6.What is a string in Python, and how is it different from a list Ans:Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

Q7.How do tuples ensure data integrity in Python Ans:Tuples in Python ensure data integrity by being immutable, meaning their contents cannot be changed after creation. This characteristic makes tuples ideal for situations where data must remain constant and protected from accidental modification.

Q8.What is a hash table, and how does it relate to dictionaries in Python? Ans:In general, hash tables store key-value pairs and the key is generated using a hash function. Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function.

Q9.Can lists contain different data types in Python? Ans:Yes, Python lists can contain elements of different data types. Lists in Python are highly flexible and can store a mix of integers, floats, strings, booleans, other lists, dictionaries, tuples, and even custom objects—all in the same list.

Q10.Explain why strings are immutable in Python? Ans:Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct new strings as we go to represent computed values.

Q11.What advantages do dictionaries offer over lists for certain tasks? Ans:Dictionaries in Python offer several advantages over lists for tasks where data needs to be organized and accessed using keys rather than indices. Here is a breakdown of the key advantages:

1.Fast Lookups by Key

2.Key-Based Access

3.No Need to Remember Indexes

4.Uniqueness of Keys

5.Ideal for Associative Data

Q12.Describe a scenario where using a tuple would be preferable over a list? Ans:Tuples can be created by placing elements inside parentheses, separated by commas. For example, a tuple of three elements could be created like this: (1," hello", True). Once created, the elements of a tuple can be accessed using indexing, just like with lists.

Q13.How do sets handle duplicate values in Python? Ans:Hashing Mechanism: Sets in Python are implemented using hash tables, and each element must be hashable. The hash value of an element determines its position in the set. When a new element is added, the set checks if the element already exists by comparing hash values. If the hash value is the same, the element is considered a duplicate and is not added again.

Efficient Membership Testing: Sets are optimized for fast membership testing (O(1) on average), and maintaining uniqueness simplifies this process. Duplicate entries are unnecessary and could complicate the set's operations.

Q14.How does the “in” keyword work differently for lists and dictionaries?

Ans:The in keyword in Python is used to check for membership, but its behavior differs when used with lists versus dictionaries: For Lists:The in keyword checks whether a value exists in the list and It performs a sequential search through the list, so its performance is O(n) in the worst case For Dictionaries:The in keyword checks whether a key exists in the dictionary, not the values and It performs a hash lookup, so its performance is O(1) on average.

Q15.Can you modify the elements of a tuple? Explain why or why not? Ans:No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning their elements cannot be changed, added, or removed after the tuple is created.

Q16.What is a nested dictionary, and give an example of its use case? Ans:In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

nested_dict = { 'dictA': {'key_1': 'value_1'}, 'dictB': {'key_2': 'value_2'}}

1.Storing Complex Data:

Nested dictionaries are useful for representing data with multiple attributes or hierarchical structures, such as databases, configuration files, or structured datasets. Example: Student Database students = { "1001": {"name": "Alice", "major": "Physics", "scores": {"midterm": 78, "final": 88}}, "1002": {"name": "Bob", "major": "Math", "scores": {"midterm": 85, "final": 92}}, } print(students["1001"]["scores"]["final"])

Output: 88

Q17.Describe the time complexity of accessing elements in a dictionary?

Ans:The time complexity of accessing elements in a dictionary in Python depends on the operation and the underlying implementation of dictionaries. Python dictionaries use hash tables for storage, which makes them highly efficient for certain operations.While accessing elements in a dictionary is O(1) on average, ensuring proper usage and understanding potential edge cases helps maintain optimal performance. In practice, Python dictionaries are highly efficient for most real-world applications.

Q18.In what situations are lists preferred over dictionaries?

Ans: -Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs.

-Lists are used to store the data, which should be ordered and sequential. On the other hand, dictionary is used to store large amounts of data for easy and quick access.

-List is ordered, mutable, and allows duplicate values.In a dictionary, the dictionary is unordered and mutable, but the dictionary doesn't allow duplicate values with the same key in it.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:Dictionaries in Python are considered unordered because they do not store their elements in a fixed, predictable sequence based on insertion or any inherent order of the keys. Instead, dictionaries organize their data using a hash table, which optimizes operations like lookups, insertions, and deletions. This impacts how data is stored and retrieved.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.

For lists:Data Access By index (positional access). For Dictionary:Data Access By key (key-value mapping).

For lists:Access Speed is O(1) for indexing. For Dictionary: Access speed is O(1) average for key lookup, O(n) worst-case due to hash collisions.

For lists:Structure is Ordered collection of values. For Dictionary:Structure is Key-value pairs, with keys being unique.

For lists:Efficiency is Fast sequential access; good for ordered data. For Dictionary:Efficiency is Optimized for fast lookups and updates via keys.

For lists:Suitable for homogeneous or heterogeneous sequences. For Dictionary:Better for representing relationships or mappings.

Practical Questions

Q1.Write a code to create a string with your name and print it.

Ans:

In [ ]:
# Create a string with my name
name = "amul"

# Print the string
print(name)

amul

Q2.Write a code to find the length of the string "Hello World".

Ans:

In [ ]:
# Define the string
my_string = "Hello World"


length = len(my_string)
print("The length of the string is:", length)

The length of the string is: 11

Q3.Write a code to slice the first 3 characters from the string "Python Programming".

Ans:

In [ ]:
# Define the string
my_string = "Python Programming"

# Slice the first 3 characters
first_three = my_string[:3]

# Print the result
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

Q4.Write a code to convert the string "hello" to uppercase.

Ans:

In [ ]:
# Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()


print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

Ans:

In [ ]:
# Define the string
my_string = "I like apple"

# Replace "apple" with "orange"
new_string = my_string.replace("apple", "orange")

# Print the result
print("The new string is:", new_string)

Q6.Write a code to create a list with numbers 1 to 5 and print it.

Ans:

In [ ]:
# Create the list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]

Ans:

In [ ]:
# Define the list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

Ans:

In [ ]:
# Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

Ans:

In [ ]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(second_element)

b

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

Ans:

In [ ]:
# Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans:

In [ ]:
# Create the tuple
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

Q12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Ans:

In [ ]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(first_element)

apple

Q13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans:

In [ ]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times.")

The number 2 appears 3 times.

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans:

In [ ]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the result
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

Q15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans:

In [ ]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans:

In [ ]:
# Create the set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Q17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

Ans:

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}

Q18.Write a code to create a tuple with the elements 10, 20, 30 and print it.

Ans:

In [ ]:
# Create the tuple
my_tuple = (10, 20, 30)

# Print the tuple
print(my_tuple)

(10, 20, 30)

Q20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Ans:

In [ ]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times.")

The number 2 appears 3 times.

Q21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Ans:

In [ ]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the result
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

Q22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Ans:

In [ ]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

Q23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Ans:

In [ ]:
# Create the set
my_set = {1, 2, 3, 4, 5}

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

Q24.Write a code to add the element 6 to the set {1, 2, 3, 4}

Ans:

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}